@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@400..900&family=Rubik+Vinyl&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.game-container {
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #333;
    font-size: 50px;
    font-family: "Rubik Vinyl", serif;
    font-weight: 900;
    font-style: normal;
}

form button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px white, 4px 4px 4px 4px black;

    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
}

form button:hover {
    background-color: #2980b9;
    box-shadow: 2px 2px 2px 2px rgb(218, 214, 214), 4px 4px 4px 4px black;
}

.result p {
    font-size: 18px;
    color: #333;
    /* text-align: left; */

    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}