{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block abouta %}class="active"{% endblock %}

{% block content %}
<div class="about-container">

    <h1>About</h1>
    <p>Rock Paper Scissors is a simple yet fun game that pits you against the computer in a game of chance and strategy. The rules are simple:</p>
    <ul>
        <li><strong>Rock</strong> beats <strong>Scissors</strong></li>
        <li><strong>Scissors</strong> beats <strong>Paper</strong></li>
        <li><strong>Paper</strong> beats <strong>Rock</strong></li>
    </ul>

    <h2>Game Features:</h2>
    <ul>
        <li>Real-time Gameplay</li>
        <li>Track Your Wins, Losses, and Draws</li>
        <li>Responsive Design for All Devices</li>
    </ul>

    <h2>How to Play:</h2>
    <ol>
        <li>Select your move: Rock, Paper, or Scissors.</li>
        <li>The computer will randomly select its move.</li>
        <li>The winner is determined based on the rules mentioned above.</li>
        <li>Play again or reset the scores at any time!</li>
    </ol>


    <h2>Contact:</h2>
    <p>If you have any suggestions or feedback, feel free to reach out to us at <a href="mailto:contact@rockpaperscissors.com">contact@rockpaperscissors.com</a>. We’d love to hear from you!</p>
</div>


</div>
{% endblock %}

