<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
</head>
<body>
    <div class="game-container">
        <h1>Rock Paper Scissors</h1>
        

        <form action="/play" method="POST">
            <button type="submit" name="userChoice" value="rock">rock</button>
            <button type="submit" name="userChoice" value="paper">paper</button>
            <button type="submit" name="userChoice" value="scissors">scissors</button>
        </form>

       
        {% if userChoice %}
        <div class="result">
            <p>You chose: <b>{{userChoice}}</b></p>
            <p>Computer chose: <b>{{computerChoice}}</b></p>
            <p><b>{{result}}</b></p>
        </div>
        {% endif %}












    </div>
</body>
</html>
